.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr 80px;
  grid-template-rows: 30px;
  align-items: center;

  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;

  background-color: #659a65;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);

  &:nth-child(odd) {
    background-color: #abd2ab;
  }
}

.isArchive {
  padding: 4px 6px;

  text-align: center;

  background-color: #d5d51f;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}

