.mainLayoutWrapper {
  position: relative;
  display: flex;
  margin-left: 250px;
}

@media screen and (width <= 1400px) {
  .mainLayoutWrapper {
    flex-direction: column;
    margin-left: 0;
  }
}

