.filterIndicator {
  pointer-events: auto !important;
  user-select: none;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);

  width: 15px;
  height: 15px;

  line-height: 1;

  background-color: #f11e20;
  border-radius: 50%;

  transition: transform 0.2s;


  &:hover {
    transform: scale(1.1) translateY(-50%);
  }
}