.appLayout {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.employeeTable {
  width: 80%;
  padding: 30px 30px 30px 250px;
}


.filterWrapper {
  position: relative;
  display: inline-block;
}


fieldset {
  display: flex;
  justify-content: center;

  width: 90%;
  height: 200px;
  padding-top: 20px;

  border: 2px solid #000;
  border-radius: 5px;
}

legend {
  margin-left: 15px;
  padding: 3px 6px;
  font-weight: bold;
}



